* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

#__next {
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
}

main {
  margin-bottom: auto;
}

footer {
  margin-top: auto;
  padding-bottom: 1.5rem;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

.input {
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
  padding: 1rem;

  outline: none;
  height: 4rem;
  font-size: inherit;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}

.head {
  margin-top: 1.5rem;
  text-align: center;
  max-width: 40rem;

  margin-bottom: 4rem;
}

.head h1 {
  margin-bottom: 1rem;
}

.head h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.to-from {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.flip {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-bottom: 1.5rem;
}

.fuel-select {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 2rem;
}

.fuel-select > button,
select,
input {
  margin-bottom: 1.5rem;
}

.dropdown {
  position: relative;
  cursor: default;
  margin-bottom: 1.5rem;
}

.dropdown__arrow--open svg {
  transform: rotate(180deg);
}

.dropdown__control {
  height: 4rem;
  padding: 0 1rem;

  cursor: pointer;

  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.dropdown__selected {
  flex: 1 0 60%;
}

.dropdown__selected input {
  background: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  height: 4rem;
  margin-bottom: 0;

  width: 100%;
}

.dropdown__options {
  display: none;
  background-color: #fff;

  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;

  margin-top: 0.5rem;

  max-height: 16rem;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 5;
  -webkit-overflow-scrolling: touch;
}

.dropdown__options--open {
  display: block;
}

.dropdown__option {
  box-sizing: border-box;
  cursor: pointer;
  height: 4rem;
  padding: 0 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid #a7a7a7;
}

.dropdown__option--selected,
.dropdown__option:hover {
  background-color: rgb(235, 235, 235);
}

.toggle {
  height: 4rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 1.5rem;
}

.toggle input {
  display: none;
}

.toggle input:checked + label {
  background-color: #b1d2fa;
  border: 1px solid #b1d2fa;
}

.toggle label {
  width: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
  padding: 1rem;
}

.toggle__left {
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;

  border-radius: 0.5rem 0 0 0.5rem;
}

.toggle__right {
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 0 0.5rem 0.5rem 0;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  font-size: 0.75rem;
}

@media only screern and (min-width: 1200px) {
  .to-from {
    flex-flow: row nowrap;
    align-items: center;
  }

  .fuel-select {
    margin: 0;
  }

  .fuel-select:first-of-type {
    margin-right: 0.75rem;
  }

  .fuel-select:last-of-type {
    margin-left: 0.75rem;
  }

  .flip {
    margin-bottom: 0;
  }

  .footer {
    justify-content: flex-start;
  }
}
